<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Rose Christmas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row">
          <ion-col class="col">Name 
            <ion-icon name="arrow-up" (click)="handleSort('name', 'alpha')"></ion-icon>
            <ion-icon name="arrow-down" (click)="handleSort('name', 'reverseAlpha')"></ion-icon>
          </ion-col>
          <ion-col class="col">Gender
            <ion-icon name="arrow-up" (click)="handleSort('gender', 'alpha')"></ion-icon>
            <ion-icon name="arrow-down" (click)="handleSort('gender', 'reverseAlpha')"></ion-icon>
          </ion-col>
          <ion-col class="col">Age
            <ion-icon name="arrow-up" (click)="handleSort('age', 'alpha')"></ion-icon>
            <ion-icon name="arrow-down" (click)="handleSort('age', 'reverseAlpha')"></ion-icon>
          </ion-col>
          <ion-col class="col">Type
            <ion-icon name="arrow-up" (click)="handleSort('itemType', 'alpha')"></ion-icon>
            <ion-icon name="arrow-down" (click)="handleSort('itemType', 'reverseAlpha')"></ion-icon>
          </ion-col>
          <ion-col class="col">Amount
            <ion-icon name="arrow-up" (click)="handleSort('count', 'alpha')"></ion-icon>
            <ion-icon name="arrow-down" (click)="handleSort('count', 'reverseAlpha')"></ion-icon>
          </ion-col>
          <ion-col class="col">Size
            <ion-icon name="arrow-up" (click)="handleSort('size', 'alpha')"></ion-icon>
            <ion-icon name="arrow-down" (click)="handleSort('size', 'reverseAlpha')"></ion-icon>
          </ion-col>
          <ion-col class="col">Location
            <ion-icon name="arrow-up" (click)="handleSort('location', 'alpha')"></ion-icon>
            <ion-icon name="arrow-down" (click)="handleSort('location', 'reverseAlpha')"></ion-icon>
          </ion-col>
          <ion-col class="col">Notes
            <ion-icon name="arrow-up" (click)="handleSort('notes', 'alpha')"></ion-icon>
            <ion-icon name="arrow-down" (click)="handleSort('notes', 'reverseAlpha')"></ion-icon>
          </ion-col>
          <ion-col class="col">Manage</ion-col>
    </ion-row>

    <ion-row class="row" *ngFor="let item of items">
            <ion-col class="col">{{item.name}}</ion-col>
            <ion-col class="col">{{item.gender}}</ion-col>
            <ion-col class="col">{{item.age}}</ion-col>
            <ion-col class="col">{{item.itemType}}</ion-col>
            <ion-col class="col">{{item.count}}</ion-col>
            <ion-col class="col">{{item.size}}</ion-col>
            <ion-col class="col">{{item.location}}</ion-col>
            <ion-col class="col">{{item.notes}}</ion-col>
            <ion-col class="col">
              <ion-button href="/edit/{{item.id}}"><ion-icon name="build"></ion-icon></ion-button>
              <ion-button (click)="remove(item.name, item.id)"><ion-icon name="close"></ion-icon></ion-button>
            </ion-col>


    </ion-row>


  </ion-grid>

</ion-content>