<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Rose Christmas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row">
          <ion-col class="col">Name</ion-col>
          <ion-col class="col">Gender</ion-col>
          <ion-col class="col">Age</ion-col>
          <ion-col class="col">Type</ion-col>
          <ion-col class="col">Amount</ion-col>
          <ion-col class="col">Size</ion-col>
          <ion-col class="col">Location</ion-col>
          <ion-col class="col">Notes</ion-col>
          <ion-col class="col">Manage</ion-col>
    </ion-row>

    <ion-row class="row" *ngFor="let item of items">
            <ion-col class="col">{{item.name}}</ion-col>
            <ion-col class="col">{{item.gender}}</ion-col>
            <ion-col class="col">{{item.age}}</ion-col>
            <ion-col class="col">{{item.itemType}}</ion-col>
            <ion-col class="col">{{item.count}}</ion-col>
            <ion-col class="col">{{item.size}}</ion-col>
            <ion-col class="col">{{item.location}}</ion-col>
            <ion-col class="col">{{item.notes}}</ion-col>
            <ion-col class="col">
              <ion-button href="/edit/{{item.id}}"><ion-icon name="build"></ion-icon></ion-button>
              <ion-button (click)="remove(item.name, item.id)"><ion-icon name="close"></ion-icon></ion-button>
            </ion-col>


    </ion-row>


  </ion-grid>

</ion-content>